---
title: Museum
old_url: http://hans.gerwitz.com/library/stuff.html
---

<p>The things we collect are an inexorable component of our cultural identity. Here are a few that have been important to me.</p>

<%= list_pages current_page.children %>
