$eigengrau: #05131D; // LEGO black
$lightgrau: #9BA19D; // LEGO grey
$green: #00852B; // LEGO green
$darkgreen: #00270c; // just a nice dark shade
$blue: #1E5AA8; // LEGO blue

$width: 512px;
$background: #FFF;
$color: $eigengrau;

$p-width: 960px;
$p-background: #000;
$p-color: #EEE;
