.meta {
  width: 100%;
  height: 1.2rem;

  // font-family:	"Lucida Grande", Verdana, Arial, sans-serif;
  font-size:		0.75rem;
}

.content {
  clear: both;

  img {
    width: 480px;
  }
}

.promo {
  margin-top: 2rem;

  font-style: italic;
}
