// see also _writing

.note {
  .content {
    font-size: 24px;
    line-height: 32px;

    padding-top: 24px;
    padding-bottom: 48px;
  }
}

ol.notes-list {
  list-style: none;
  padding-left: 0;

  .note {
    margin-bottom: 48px;

    .content {
      padding: 0;
    }
    .meta {
      width: 100%;
      margin-top: 12px;
      .date {
        float: right;
      }
    }
  }

  * a {
    text-decoration: underline;
  }
}
