.meta {
    height: 1.2rem;

    .external {
        float: left;
        .favicon {
            margin: 0;
            float: left;
        }
    }
    
    time {
        float: right;
    }
}

.content {
    clear: both;
}

.promo {
    margin-top: 2rem;

    font-style: italic;
}