.meta {
  width: 100%;
  height: 1.2rem;

  font-family:	"Lucida Grande", Verdana, Arial, sans-serif;
  font-size:		0.75rem;

  .external {
    float: left;
    .favicon {
      margin: 0;
      float: left;
    }
  }

  time {
    float: right;
  }
}

.content {
  clear: both;

  img {
    width: 480px;
  }
}

.promo {
  margin-top: 2rem;

  font-style: italic;
}
