.meta {
  height: 1.2rem;

  font-family:	"Lucida Grande", Verdana, Arial, sans-serif;
  font-size:		0.75rem;

  .external {
    float: left;
    .favicon {
      margin: 0;
      float: left;
    }
  }
  
  time {
    float: right;
  }
}

.content {
  clear: both;
}

.promo {
  margin-top: 2rem;

  font-style: italic;
}
