---
layout: page
title: Chronology
---
<%# see data/history.yaml for contents %>

Events worth noting, so far:

<section class="timeline">
<ol>
  <% data.history.events.each do |e| %>
  <% print("- #{e.date}\n") %>
  <li><div>
    <time datetime="<%= e.date %>">
      <%= Time.new(e.date).strftime("%Y") %>
      <% if e.date.to_s.length > 4 %>
        (<%= Time.new(e.date).strftime("%B") %>)
      <% end %>
    </time>
    <p><%= e.text %></p>
  </div></li>
  <% end %>
</ol>
</section>

(TODO: add travel records using photo library and tripit, add other car records, integrate rest of site)
