---
title: Who is Hans Gerwitz?
---

<style>
ul.contact-links {
	list-style-type: none;
	padding: 0;
}
ul.contact-links li a {
	text-decoration: none;
}
</style>

<blockquote>
  <p>I arise in the morning torn between a desire to improve (or save) the world and a desire to enjoy (or savor) the world.  This makes it hard to plan the day.</p>
  <p><cite><a href="http://www.nytimes.com/books/97/08/03/lifetimes/white-notes.html?_r=1/">E. B. White</a></cite></p>
</blockquote>

<p>
  I live in the beautiful city of Amsterdam, with the even-more-beautiful <a href="http://www.shannonethomas.com/">Shannon E Thomas</a>. We <a href="http://hansandshannon.com/">married in Seattle</a> circa 2009.
</p>

<p>
  Professionally, I have held technology, creative, and business leadership positions serving a variety of industries across three continents. The culmination of this is <a href="http://theartificial.nl/">The Artificial</a>.
</p>

<section>
  You can learn more about me or get in touch via any of the usual channels:
  <ul class="contact-links meta">
      <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#097;&#110;&#115;&#064;&#103;&#101;&#114;&#119;&#105;&#116;&#122;&#046;&#099;&#111;&#109;">Email</a></li><!-- -->
      <li><a href="https://twitter.com/gerwitz">Twitter</a></li><!-- since 2006-07 -->
      <li><a href="https://www.linkedin.com/in/gerwitz/">LinkedIn</a></li><!-- since 2004-01-06 -->
  </ul>
</section>
