---
title: Quotes
---
<%# see data/quotes.yaml for contents %>

<blockquote>
<p>This volume does not aspire to the name of an autobiography.…</p>
<p>The selection has been made in some cases from the importance of the matter. In others, from the celebrity of the persons concerned; whilst several of them furnish interesting illustrations of human character.</p>
<footer>— Charles Babbage, preface to <a href="https://www.goodreads.com/book/show/2627810-passages-from-the-life-of-a-philosopher"><cite>Passages from the Life of a Philosopher</cite></a></footer>
</blockquote>

<section>
  <%
    quotes = data.quotes
    quotes.each do |q|
  %>
    <blockquote>
      <p><%= escape_html(q.quote) %></p><%# TODO: render Markdown %>
      <footer>
        <%= "#{q.who}, " if q.who %>
        <% if q.source %>
          <cite><%= escape_html(q.source) %></cite>
        <% end %>
        <%= ", #{q.date}" if q.date %>
      </footer>
    </blockquote>
  <% end %>
</section>
