	<article class="hentry">
	  <header>
	    <h1 class="entry-title"><%= @item[:title] %></h1>
	  <!--
	    <p class="byline author vcard">
	        By <span class="fn">Hans Gerwitz</span>
	    </p>
	  -->
	  </header>
 
	  <div class="entry-content">
		  <%= yield %>
	  </div>
 
	</article>
