<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @item[:title] %></title>
    <meta name="generator" content="nanoc" />
	<link rel="author" href="https://plus.google.com/117303083576651952409" />

	<link rel="alternate" type="application/rss+xml" href="/feed" title="All posts to hans.gerwitz.com" />

	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/stylesheet.css" media="screen">

	<link rel="openid.server" href="http://www.myopenid.com/server" />
	<link rel="openid.delegate" href="http://gerwitz.myopenid.com/" />
	<link rel="openid2.local_id" href="http://gerwitz.myopenid.com" />
	<link rel="openid2.provider" href="http://www.myopenid.com/server" />
	<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=gerwitz.myopenid.com" />
	
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
	
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body>
	<header id="masthead">
		<% home = @items.find { |i| i.rep_named(:default).path == '/' } %>
		<h1><%= link_to_unless_current(@site.config[:site_name], home) %></h1>
		<ul class="nav">
<!--
			<li>
				<a href="/library.html">Library</a>
			</li>
			<li>
				<a href="/projects.html">Projects</a>
			</li>
 -->
			<li>
				<a href="/about.html" rel="author" title="About Hans"><i class="icon-user"></i> About</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/user?user_id=521"><i class="icon-twitter"></i> Twitter</a>
			</li>
		</ul>
	</header>

	<%= yield %>

	<footer>
		<form method="get" action="/search.html">
			<label for="search"><i class="icon-search"></i></label>
			<input id = "search" type="search" placeholder="search posts" name="query" />
		</form>
		<nav>
			<ul>
				<li>
					<a href="/archive.html">
						<i class="icon-time"></i> Archives
					</a>
				</li>
				<li>
					<a href="/site.html">
						<i class="icon-book"></i> Colophon
					</a>
				</li>
				<li>
					<a href="/feed" rel="alternate" type="application/rss+xml">
						<i class="icon-rss"></i> Feed
					</a>
				</li>
			</ul>
		</nav>
	</footer>

<!-- header shadow-on-scroll -->
<script type="text/javascript">
	var handleScroll = function () {
		var masthead = document.getElementById("masthead");
		if (masthead) {
			var offset = 0.0;
			var distance = masthead.offsetHeight;
		    var scrollPosition = window.pageYOffset;
			if (scrollPosition < distance) {
				offset = (distance - scrollPosition) / distance;
			}
			var opacity = 1.0 - (offset * 1.0);
			masthead.style["boxShadow"] = "0px 6px 6px -6px rgba(50, 50, 50, " + opacity + ")";
		}
	}
	if (window.addEventListener) {
		window.addEventListener("scroll", handleScroll);
		window.addEventListener("touchmove", handleScroll);
	}
</script>
	
<!-- Google Analytics (async) -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-271475-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
