---
title: Stickers
---

It's common to put logos on car bumpers, laptop lids, or clothing in an effort to label oneself with the context of better-known brands.

This is where I do the same on my website.

<div class="logos">
<!-- http://stackoverflow.com/questions/6063308/touch-css-pseudo-class-or-something-similar#comment11746924_6063367 -->
<style>
  .logos {
    margin-top: 16px;
  }
  .logos a {
    margin: 16px;
    display: inline-block;
  }
  .logos svg * {
    transition: fill 0.5s ease;
  }

  .logos #apple path {
    fill: #000000;
  }
  .logos #apple:hover path.green {
    fill: #5EB345;
  }
  .logos #apple:hover path.yellow {
    fill: #F3B336;
  }
  .logos #apple:hover path.orange {
    fill: #E7792B;
  }
  .logos #apple:hover path.red {
    fill: #D0383E;
  }
  .logos #apple:hover path.blue {
    fill: #0092C7;
  }
  .logos #apple:hover path.purple {
    fill: #863B84;
  }
  .logos #bell path {
    fill: #000000;
  }
  .logos #bell:hover path {
    fill: #019de7;
  }
  .logos #eff path.dot {
    fill: #aaaaaa;
  }
  .logos #eff:hover path.dot {
    fill: #cb1009;
  }
  .logos #twitter path {
    fill: #000000;
  }
  .logos #twitter:hover path {
    fill: #3BA9EE;
  }
  .logos #lego path.gold {
    fill: #aaaaaa;
  }
  .logos #lego path.red {
    fill: #000000;
  }
  .logos #lego:hover path.gold {
    fill: #DCBC9A;
  }
  .logos #lego:hover path.red {
    fill: #D82F32;
  }
  .logos #next path { stroke: #FFFFFF; }
  .logos #next:hover path.n { stroke: #FA1516; }
  .logos #next:hover path.e { stroke: #FCFC17; }
  .logos #next:hover path.x { stroke: #16D41A; }
  .logos #next:hover path.t { stroke: #FB16BB; }
  .logos #dec path.block { fill: #000000; }
  .logos #dec:hover path.block { fill: #840029; }

</style>

<a id="eff" href="https://eff.org/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 92">
    <path d="M129 46c0 23.7-19.3 43-43 43S43 69.7 43 46 62.3 3 86 3s43 19.3 43 43z" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="square"/><path d="M31 17h44v12H31V17zm0 46h44v12H31V63zm0-24h42v12H31V39zM3 17h28v58H3V17z" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="square"/>
    <path d="M129 46c0 23.7-19.3 43-43 43S43 69.7 43 46 62.3 3 86 3s43 19.3 43 43z" class="dot"/><path d="M31 17h44v12H31V17zm0 46h44v12H31V63zm0-24h42v12H31V39zM3 17h28v58H3V17z"/><path d="M87 19h6v4h-6v-4zm0 10h4v4h-4v-4zm-4-10h4v24h-4V19zM87 51h6v4h-6v-4zm0 10h4v4h-4v-4zm-4-10h4v24h-4V51z" fill="#fff"/></svg></a>

<a id="apple" href="https://apple.com/">
  <svg height="64" vxmlns="http://www.w3.org/2000/svg" viewBox="0 0 142 165">
      <path class="green leaf" d="M93.75 27.23c5.37-6.9 9.45-16.66 7.97-26.63-8.78.6-19.05 6.2-25.05 13.5-5.44 6.6-9.93 16.42-8.18 25.97 9.56.3 19.5-5.44 25.24-12.84"/>
      <path class="green" d="M7.7 59.96l.14-.24c8.48-13.06 21.84-20.7 34.4-20.7 12.8 0 20.84 7.02 31.42 7.02 10.26 0 16.52-7.04 31.3-7.04 11.2 0 23.03 6.1 31.48 16.63-2.34 1.28-4.44 2.74-6.32 4.34H7.7"/>
      <path class="yellow" d="M7.7 59.96C4.07 65.63 1.76 72.8.86 80.9H118.3c1.27-7.8 5.13-15.27 11.82-20.93H7.7"/>
      <path class="orange" d="M1.5 101.83C.33 94.48.14 87.4.86 80.9H118.3c-1.15 7.04-.18 14.37 2.72 20.93H1.5"/>
      <path class="red" d="M7.23 122.76c-2.78-7.03-4.68-14.1-5.75-20.93h119.54c3.7 8.36 10.55 15.45 20.2 19.1l-.84 1.84H7.23"/>
      <path class="purple" d="M140.38 122.77c-3.3 7.3-5.22 11.08-9.8 18.06-.62.94-1.26 1.9-1.92 2.86H18.32l-1.05-1.58c-4.12-6.3-7.46-12.82-10.04-19.37h133.15"/>
      <path class="blue" d="M128.66 143.7c-6.75 9.9-15.8 20.8-26.8 20.9-10.74.1-13.5-7-28.05-6.92-14.53.08-17.57 7.04-28.3 6.94-11.47-.1-20.4-10.82-27.17-20.92h110.34"/>
    </svg></a>

<a id="bell" href="http://www.textfiles.com/phreak/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0.58 0.58 40 40">
    <path d="M6.53 29.1c2.9 4.74 8.1 7.92 14.05 7.92 5.67 0 10.67-2.88 13.62-7.25C35.97 27.14 37 24 37 20.6c0-9.08-7.35-16.45-16.42-16.45-9.07 0-16.43 7.37-16.43 16.44 0 3.1.87 6 2.38 8.5zM20.58.68c11 0 19.9 8.92 19.9 19.9 0 11-8.9 19.9-19.9 19.9-10.98 0-19.9-8.9-19.9-19.9C.68 9.6 9.6.68 20.58.68z"/>
    <path d="M33 28.7h-.02v-5.65"/>
    <path d="M29.73 19.64c.07 3 3.26 3.46 3.26 3.4l-.04 5.65h-10.2v2.75h-4.34l-.02-2.77-10.2.05v-5.7c2.45-.47 3.15-2.02 3.26-3.42l.57-6.76c.13-1.77 1.5-2.75 2.8-2.92 2.73-.34 3.47-.2 3.47-.24l.02-2.42h4.56l.03 2.44c.95.02 2.7.14 3.48.23.8.1 1.4.4 1.86.86.2.2.35.4.5.63.26.45.4.96.44 1.44l.57 6.77zm-1.18 5.3v-1c-2.1-.98-2.27-2.2-2.38-3.37l-.5-5.2c-.05-1.34-1.05-1.9-2-1.97-1.03-.08-2.06-.12-3.07-.12-1.03 0-2.05.04-3.07.12-.88 0-1.88.53-2 1.96l-.5 5.14c-.28 3.1-2.4 3.47-2.4 3.5v.94h15.92z"/>
    <path d="M28.22 10.8c.2.2.35.4.5.63-.15-.23-.3-.43-.5-.62z"/></svg></a>

<a id="dec" href="https://en.wikipedia.org/wiki/VAX">
  <svg height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 556 170">
    <path class="block" d="M3 3v164h75V3H3m82 0v164h70V3H85m78 0v164h74V3h-74m82 0v164h69V3h-69m77 0v164h71V3h-71m80 0v164h74V3h-74m82 0v164h69V3h-69z"/>
    <path fill="#FFFFFF" d="M49 42v29c-3.12-2.04-6.25-4.04-10-4.67C-1.4 59.6 11.72 147.2 49 121v3h15V42H49m64 0v13h14V42h-14m159 0v13h15V42h-15m78 0v24h-8v10h8v39c0 11 18 11 24.4 4.5l-.4-7.5-10 1V76h10V66h-10V42h-14m162 0v82h14V42h-14m-94 36c3.26.9 7.36 3.25 10.8 2.6 4.25-.84 15.1-12.04 18.35-1.5 2.65 8.57-21.9 10.67-26.54 15.43-8.1 8.33-6.92 24.34 4.4 29.38 8.16 3.6 17.1.3 24-3.9l-1 4h14c-.9-11.32-1-22.54-1-34 0-5.3 1.1-12.04-1.42-16.94-9-17.46-34.48-8.22-41.54 4.98m-208 43c0 11.5-9.5 25.9-20 12l-13 4c5.03 17.9 35.04 18.1 43.36 3 3.94-7.2 2.64-16.1 2.64-24V67h-13v4c-3.1-1.96-6.33-3.9-10-4.62-10.4-2.07-19.6 6.6-23.2 15.62-6.83 17.04 1.2 43.36 22.2 42.98 4.4-.08 7.4-1.66 11-3.98m-97-54v57h14V67h-14m159 0v57h15V67h-15z"/>
    <path class="block" d="M36 78.87c-13.25 5.04-10.36 39.3 6.96 32.53 10-3.92 7.02-37.84-6.96-32.53m161-.08c-13.34 4.4-10.82 38.93 6 32.6 10.9-4.18 8.2-37.38-6-32.6M447 94c-4.66 2.65-10.37 2.8-14.8 5.46-12.46 7.47 7.12 22.65 14.62 9.37 1.17-2.08 1.15-4.52 1.18-6.83.03-2.83.1-5.4-1-8z">
  </svg></a>

<a id="next" href="http://simson.net/ref/NeXT/">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
    <path class="box" fill="#000000" d="M48 162l12-72 68 129-16 63-64-120zm86 58l-18 64 125-67 24-66-131 69z"/>
    <path class="box" fill="#000000" d="M60 83l135-72 71 135-134 72L60 83z"/>
    <path class="n" fill="none" stroke-width="8" d="M106 140L80 92l68 16-26-48"/>
    <path class="e" fill="none" stroke-width="8" d="M208 64c0 12-6 23-16 28-16 8-35 1-42-15-6-14 0-30 13-38 14-7 31-3 40 10l-53 28"/>
    <path class="x" fill="none" stroke-width="8" d="M137 204l24-80m27 53l-79-25"/>
    <path class="t" fill="none" stroke-width="8" d="M171 121l56-30"/>
    <path class="t" fill="none" stroke-width="7" d="M199 106l28 52"/></svg></a>

<!--
<a id="github" href="https://github.com/gerwitz">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
    <path d="M512 0C229.2 0 0 229.3 0 512c0 226.3 146.7 418 350.2 485.8 25.6 4.7 35-11 35-24.6 0-12.2-.6-52.6-.8-95.3C242 908.5 212 817.2 212 817.2c-23.4-59-57-75-57-75-46.5-31.6 3.6-31 3.6-31 51.4 3.6 78.4 53 78.4 53 45.8 78 120 55.5 149 42.4 4.7-33 18-55.7 32.6-68.4-113.7-13-233.3-57-233.3-253 0-56 20-101.6 52.7-137.5-5.2-13-22.8-65.3 5-135.8 0 0 43-13.7 141 52.5 40.7-11.4 84.5-17 128-17.2 43.5.2 87.3 6 128.2 17.3 97.8-66 140.8-52.3 140.8-52.3C809 283 791.2 335 786 348c32.8 35.8 52.6 81.4 52.6 137.3 0 196.7-119.7 240-233.8 252.7 18.5 16 34.8 47 34.8 94.8 0 68.4-.7 123.6-.7 140.5 0 13.6 9 29.5 35 24.5C877.3 930 1024 738 1024 512 1024 229.2 794.7 0 512 0z"/></svg></a>

<a id="twitter" href="https://twitter.com/gerwitz">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="328 355 335 276" >
    <path d="M630 425a195 195 0 0 1-299 175 142 142 0 0 0 97-30 70 70 0 0 1-58-47 70 70 0 0 0 31-2 70 70 0 0 1-57-66 70 70 0 0 0 28 5 70 70 0 0 1-18-90 195 195 0 0 0 141 72 67 67 0 0 1 116-62 117 117 0 0 0 43-17 65 65 0 0 1-31 38 117 117 0 0 0 39-11 65 65 0 0 1-32 35z"/></svg></a>
-->

<a id="lego" href="http://brickset.com/sets/871-1/Supplementary-Set">
  <svg height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 67"><g fill="none" fill-rule="evenodd"><path d="M127.4 6.5c-2-4.3-7.3-2.8-11-1.8-1.6.4-3.2 1-4.2 1-1.6 0-3-1-4.5-1.7l-.8-.4-1-.3c-1-.8-4-2.6-7-.6l-1 1-.8.4c-1 2-1.6 3-1.6 5l.3 3.7c0 .3 0 .7.2 1v1c-5 3-9 5.4-13.8 7C78 9 66 .7 52 .7c-17.5 0-32 14-33 31C18 32-4 42 0 52l3 4.7c.4 1 1.2 1.6 2.4 2 3 1 11 .6 23-2.2C34.4 63 43 67 52.4 67 71 67 85.7 52.2 86 34c6.3-2.6 13-5.8 17.3-7.8.4.2 1 1 1.5 1.4 2 1.8 4 4 7 3.6h.6l1.3-.4c3.2-.7 3.4-4 3.5-5.5v-.6l.2-1c.3-1.5.5-3 1.5-4.5 0-.7 2-1.7 3-2.7 3-2.4 7-5.7 5-10zM11 48c1-1 3.7-2.7 9.5-5.7.3 1.3.8 2.7 1.3 4-4 1-7.7 1.6-11 1.8z" fill="#FFF"/>
    <path d="M97.6 20.8c.6 1.2 1.8 2.3 2.6 2.6.8.3 2.3-1 4-.3 1.7 1 4.7 6 7 5h1.8c1.4 0 1.2-3 1.4-4 .3-2 .5-4 2.2-7 2.4-3 9.8-6 8.2-9C123 4 116 8 112 8c-2.6 0-4.6-1.4-6.5-2.4-1-.5-2.7-2-3.8-1.2L100 5.6c-1.5 1.5.4 6.7 0 8.5-.7 2-2.6 3-3 3-.2 1 0 3 .6 4M81 33c1.8-.8 2.5-3 1.6-4.6-.8-2-3-2.6-4.6-1.7C52.3 39 17 53 3 49.3L5.4 54c1.4 3 31.4 0 75.7-21.5" class="red"/>
    <path d="M77.4 24.2c1.4-.7 3-.8 4.6-.4C78 11.8 66.4 3 52.8 3 35.8 3 22 16.5 22 33c0 4.4 1 8.4 2.5 12 15.8-4.2 36.2-12.7 53-20.8" class="gold"/><path d="M19.5 34C13 37.8 3.5 44.2 4 47.5h.4c1 .3 2 .4 3.3.5 1-2.7 8-6.7 12.3-9-.3-1.6-.4-3.3-.5-5" class="red"/><path d="M83.6 35.2C63 45.2 45.4 51.2 32 54.6c5.5 5.2 13 8.4 21.3 8.4C69.6 63 83 50.6 84 35l-.4.2" class="gold"/><path d="M85.8 28.3c.6 1.5 2.3 2 3.7 1.4 1.3-.7 2-2.5 1.2-4l-.5-1c-.6-1.5-2.3-2-3.7-1.4-1.3.7-2 2.5-1.2 4l.5 1m7.6-3.5c.5 1 1.6 1.5 2.5 1 1-.5 1-1.8 0-3l-1-2.6c-.7-1-1.8-1.5-2.7-1-1 .5-1.4 1.8-1 3l1.3 2.6" class="red"/></g></svg></a>

<a id="lemond" href="https://en.wikipedia.org/wiki/LeMond_Racing_Cycles">
<svg height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365 58">
  <path d="M32.82 11.7C36.7 4.58 45.18 1.03 53.02.9c2.8.1 6.06-.32 8.3 1.78 2.2 1.3 2.6 4.03 3.42 6.25-1.17 3.85-2.23 9.6-7.04 10.22.97-2.85 3.08-5.24 3.64-8.23.52-2.06-.64-3.94-1.35-5.8-2.5-1-4.9-2.84-7.7-1.96-5.3 1.14-9.2 5.82-10.5 10.9-3.7 12.1-8.6 23.9-15.4 34.56-.8 1-1 2.1-.5 3.3 12.8.97 26.3-.75 37.7-7.02.7 2.26 1.5 4.5 2.4 6.7-1 .68-1.9 1.72-3.1 1.94-7.6 1.64-15.2 2.55-22.9 3.2-6.9.5-13.7-.5-20.5-1.3-6.1-1.37-12.3-.08-18.4-.76L.8 51.8c2.38.1 4.77.6 7.16.26 6.07-2.5 11.17-7.46 13.5-13.64 3.98-8.83 7.46-17.86 11.36-26.7zm297.8-7.92c5.4-3.08 12.7-4.42 18.3-1.22.7 7.1-3.55 13.26-5.77 19.72-3.9 10.4-8.54 20.53-11.92 31.1 1.7 1.64 3.95 1.9 6.2 1.66 5.12-2.18 9.77-6.4 15.62-6.04 4.53-.16 7.93 3.35 11.67 5.38-6.17-.63-12.56-1.26-18.57.63-5.33 1.8-10.93 2.7-16.54 2.7-2.4-.7-4.4-2.1-6.1-4-6.5 3.2-13.9 4.1-21 2.8-4-.9-8.1-3.3-9.3-7.5-.8-5 2.6-9.7 6.4-12.6 7.1-5.1 16.2-7 24.9-5.9 2.2.8 4.4 1.7 6.6 2.7 2.2-5 3.9-10.2 6.1-15.2 1.6-4.7 4.2-9.1 4.6-14.1-5.4-1-9.8 2.4-14.4 4.5-.6-2.3 1.9-3.4 3.6-4.4z" fill="#231F20"/>
  <path d="M127.34 19.27c2.14-1.4 4.62-.67 6.88-.06-.23 2.2-.64 4.3-1.33 6.4 6.4-4.6 14.4-8.4 22.5-7 3.4.6 5.1 3.8 4.8 7.1 4.5-3.5 9.8-5.9 15.3-7.2 3.8-.3 8.7-.6 11.2 3 .9 6-3.2 11-5.2 16.2-1.8 4.8-4.8 9.1-5.8 14.1.8 1 1.8 1.5 3.1 1.5 4.2.3 8.4-.2 12.6.3.7.7 1.3 1.5 2 2.2-6.2.4-12.4.2-18.6.2-3 .2-6.6-.9-8-3.8-.2-1.5-.2-3.1.4-4.6 3.3-7.9 7.2-15.5 10.5-23.4.3-1.3-.1-2.3-1.3-2.9-3.3-.4-6.3 1.3-9.4 2.2l-2.07 1c-2.8 1.9-5.97 3.5-7.56 6.6-3.7 7.4-6.2 15.4-10.5 22.5-2.1 3.68-7 3.06-10.35 1.8 4.7-10.37 9.67-20.6 14.1-31.1.5-4.5-5.1-2.8-7.65-1.84-5.3 2.68-11.5 5.28-14.1 11.1-2.7 5.7-5.1 11.5-7.74 17.2-2.7 4.6-8.6 5.2-13.4 5.4-10.3-.2-20.63.3-30.94-.2-4.3-1-9.5-2.94-10.8-7.8-.9-4.7 2.1-9.2 5.6-12.1 5.2-4.6 12.15-6.4 18.9-7.3h3.56c4 .6 8.7 1.9 10.32 6 1.43 4.2-2.1 9.2-6.54 9.4-7.13.3-14.27 0-21.4.2-.1 2.8.1 5.55 1.33 8.1 1.6.54 3.2 1.24 4.92 1.1 6.2-.1 12.4.26 18.5-.14 3.4-1.2 7.05-2.12 9.7-4.7 1.94-2.2 3.76-4.54 4.83-7.3 2-4.9 4.4-9.6 6.8-14.3 1.3-2.5 2.3-5.5 4.5-7.36zm147.34 9.13h3.58c1.16.3 2.34.6 3.52.83 1.2 1 2.3 2.14 3.32 3.34-1.5 6.17-5.38 11.4-7.2 17.44-.87 1.4.72 3.2 2.05 3.2 4.53.3 9.07.1 13.6.1 1.27.9 2.55 1.7 3.8 2.6-6.83.1-13.66.2-20.5.1-3.04 0-6.04-1.5-7.7-4.1l.2-3.1c2.42-4.6 4.05-9.5 6.6-14.1l.1-2.3-2.94-1.3c-5.6 1.4-11.1 3.9-15.4 7.8-3.6 4.1-4.7 9.7-7.8 14-1.8 2.4-4.9 3.3-7.8 3.2-6.8.1-13.6-.2-20.4 0 1.8-.8 3.3-2.6 5.4-2.6 3.3 0 6.6-.3 9.7-1.3 2.2-1.2 4.6-2.1 6.3-4.1 4.7-5.4 4.8-13.7 10.5-18.3 2.2-.83 4.7-.22 6.9-.24-.7 2.2-1.6 4.34-2.6 6.4 5.2-3.3 10.8-6.3 17-7.2z" fill="#231F20"/>
  <path d="M196.4 37.46c8.05-6.66 19.6-9.22 29.6-6 3.88 1.48 7.7 5.07 6.88 9.62-1.12 5.93-6.1 10.23-11.34 12.67-6.25 3.26-13.5 3.78-20.4 2.87-3.98-.84-8.14-3.03-9.57-7.08-1.36-4.58 1.5-9.16 4.84-12.08z" fill="#231F20"/>
  <path d="M85.28 32.05c2.47-.77 5-1.24 7.6-1.27.77 1.06 1.75 2 2.25 3.23.47 2.8-1.48 5-3.05 7-4.88.7-9.77 1.4-14.7 1.2 1.48-4.1 4.57-7.3 7.9-10zm127.08.88c2.48-.13 5.08-.62 7.5.16 2.54 1.4 3.3 4.5 3.22 7.3-1.8 5.5-5.07 10.7-10.33 13.5-3.77 1.4-8.13 1.1-10.9-2.1-.17-2.5-.12-5 .15-7.4 2.1-4.9 5.67-9 10.36-11.6zm101.24.5c3.46-1.46 7.92-1.3 10.53 1.7 1.53 7.8-3.4 16.6-11.07 18.97-4.1 2.35-9.64-.47-10.12-5.2.92-6.35 4.37-12.98 10.65-15.46z" fill="#FFF"/></svg></a>

<!-- kindle -->

<!-- ACLU -->

<!-- long now -->

<!-- cascadia -->

<!-- EU -->

<!-- UN -->


</div>
