---
title: Who is Hans Gerwitz?
layout: page
---

<style>
ul.contact-links {
	list-style-type: none;
	padding: 0;
}
ul.contact-links li a {
	text-decoration: none;
}
</style>

<blockquote>
  <p>I arise in the morning torn between a desire to improve (or save) the world and a desire to enjoy (or savor) the world.  This makes it hard to plan the day.</p>
  <footer>
    <cite><a href="http://www.nytimes.com/books/97/08/03/lifetimes/white-notes.html?_r=1/">E. B. White</a></cite>
  </footer>
</blockquote>

<p>
  I live in the beautiful city of Amsterdam, with the even-more-beautiful <a href="http://www.shannonethomas.com/">Shannon E Thomas</a>. We <a href="http://hansandshannon.com/">married in Seattle</a> circa 2009.
</p>

<p>
  Professionally, I have held technology, creative, and business leadership positions serving a variety of industries across three continents. The culmination of this is <a href="https://theartificial.com/">The Artificial</a>.
</p>

<p>
	You can see what I'm working on today at <a href="/now/">/now</a>. More detail about my past than even I care about can be found in the <a href="/history/">/history files</a>.
</p>

<section>
  You can get in touch via
    <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#097;&#110;&#115;&#064;&#103;&#101;&#114;&#119;&#105;&#116;&#122;&#046;&#099;&#111;&#109;" title="since 1990">email</a>,
    <a href="https://twitter.com/gerwitz" title="since 2006">Twitter</a>, or
    <a href="https://www.linkedin.com/in/gerwitz/" title="since 2003">LinkedIn</a>.
</section>
