---
title: "⸬ Hans Gerwitz"
layout: site
---
<% content_for :head_content do %>
  <!-- OpenID delegation -->
  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/d6fc3e55-7717-4688-8e57-55fce40c106c">

  <!-- distributed identity -->
  <link href="https://micro.blog/gerwitz" rel="me">
  <link href="https://twitter.com/gerwitz" rel="me">
  <link href="https://github.com/gerwitz" rel="me">
  <link href="https://www.linkedin.com/in/gerwitz" rel="me">
  <link href="https://www.facebook.com/gerwitz" rel="me">

  <!-- IndieWeb -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

  <link rel="micropub" href="http://micropub.gerwitz.com/micropub/main">
<% end %>

<section class="home">

  <script type="text/javascript" src="/assets/moment.min.js"></script>

  <p>
      This site is a narcissistic archive of my online activities. You are probably here to figure out <a href="/about/" rel="me">who I am</a> or <a href="https://twitter.com/intent/user?user_id=521">be my friend</a>.
  </p>

  <h2><a href="/notes/">Notes</a></h2>
  <% note = blog('notes').articles.first %>
  <div class="note">
    <div class="content">
      <%= note.body.html_safe %>
    </div>
    <div class="meta">
      <% link_to note do %>
        <span class="date">&mdash;&nbsp;<%= note.date.strftime('%B %e, %Y, %k:%M') %></span>
      <% end %>
    </div>
  </div>

  <h2><a href="/writing/">Writing</a></h2>
  <ol class="article-list">
    <% blog('writing').articles.select{|a| !a.data.title.nil? }[0...5].each_with_index do |article, i| %>
      <li><% link_to article do %>
        <span class="title"><%= article.title %></span>
        <span class="date"><%= article.date.strftime('%B %e') %></span>
      <% end %>
       </li>
    <% end %>
  </ol>

  <h2><a href="https://www.flickr.com/photos/phobia/" title="from Flickr">Photographs</a></h2>
  <div class="flickr-photos">
  <script type="text/javascript" src="https://www.flickr.com/badge_code_v2.gne?count=5&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=78928298%40N00"></script>
  </div>

  <!-- because h-card parsers really want this as HTML, but self-linking is dumb -->
  <a class="h-card" rel="me" href="https://hans.gerwitz.com/"></a>

</section>
